<!doctype html>
<html lang="en" ng-app="myapp">
<style>
table { table-layout: fixed; font-size: 10.5px}
table th, table td { overflow: hidden; }
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<head>
	<meta charset="UTF-8">
	<title>DynEd - Push Notification Service</title>
	<link rel="stylesheet" href="css_bootstrap.css">
<!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
-->
</head>

<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<button class="btn btn-primary pull-right" ng-click="add()">
			<i class="fa fa-plus"></i> Add Logs
		</button>
		<h1>DynEd TEST! </h1>
		<h2>Push Notification Service</h2>
	</div>
	<div class="container-fluid">
		<div class="row">
			<!--<div class="col-sm-3 well">
				<h3>MENU</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: b.push_code == selected.push_code}" ng-repeat="b in logs">
						<a href="" ng-click="get($index)">{{b.push_code }}</a>
					</li>
				</ul>
			</div>-->


			<!--TABLE-->
			<div class="zui-wrapper">
				<div class="zui-scroller">
					<table class="zui-table zui-table-horizontal zui-table-highlight">
						<thead>
	                		<tr>
		                    	<th>No</th>
	                    		<th>Push Code</th>
								<th>App ID</th>
								<th>User ID</th>
								<th>Device ID</th>
								<th>Date Access</th>
								<th>Message</th>
								<th>IP Address</th>
								<th>Status</th>
	                		</tr>
            			</thead>

            			<tbody>
	                		<tr ng-repeat="x in logs">
					    			<td>{{ $index + 1 }}</td>
					    			<td>{{ x.push_code }}</td>
					    			<td>{{ x.App_ID }}</td>
					    			<td>{{ x.User_ID }}</td>
					    			<td>{{ x.Device_ID }}</td>
					    			<td>{{ x.Date_Access }}</td>
					    			<td>{{ x.Message }}</td>
					    			<td>{{ x.IP_Address }}</td>
					    			<td>{{ x.Status }}</td>
					  		</tr>
                		</tbody>
					</table>
				</div>
			</div>
				
			<div class="table" ng-show="selected">
				<h2>{{selected.push_code}}</h2>
				<dl class="dl-horizontal">
					<dt>APP ID :</dt>
					<dd>{{selected.App_ID}}</dd>
					<dt>User ID :</dt>
					<dd>{{selected.User_ID}}</dd>
					<dt>Device ID :</dt>
					<dd>{{selected.Device_ID}}</dd>
					<dt>Date Access :</dt>
					<dd>{{selected.User_ID}}</dd>
					<dt>Message :</dt>
					<dd>{{selected.Message}}</dd>
					<dt>IP Address:</dt>
					<dd>{{selected.IP_Address}}</dd>
				</dl>
			</div>
			<div class="col-sm-3" ng-show="selected">
				<button class="btn btn-primary form-control" ng-click="update(selected.idx)">
					<i class="fa fa-pencil"></i> Update this log
				</button>
				<br>
				<button class="btn btn-danger form-control" ng-click="remove(selected.idx)">
					<i class="fa fa-trash-o"></i> Remove this log
				</button>
			</div>
		</div>
	</div>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	var myapp = new angular.module("myapp", ["ngResource"]);

	myapp.controller("MainCtl", ["$scope", "$resource", "$interval", function($scope, $resource, $interval){
		var var_1 = $interval(function(){
			var Logs = $resource("/logs/:id", {id: '@id'}, {});

			$scope.selected = null;

			$scope.list = function(idx){
				Logs.query(function(data){
					$scope.logs = data;
					if(idx != undefined) {
						$scope.selected = $scope.logs[idx];
						$scope.selected.idx = idx;
					}
				}, function(error){
					alert(error.data);
				});
			};

		$scope.list();
		}, 1000);
		
		$scope.get = function(idx){
			Logs.get({id: $scope.logs[idx].id}, function(data){
				$scope.selected = data;
				$scope.selected.idx = idx;
			});
		};

		$scope.add = function() {
			var push_code = prompt("Enter the push code.");
			if(push_code == null){
				return;
			}
			var App_ID = prompt("Enter the app id.");
			if(App_ID == null){
				return;
			}

			var newLogs = new Logs();
			newLogs.push_code = push_code;
			newLogs.App_ID = App_ID;
			newLogs.$save();

			$scope.list();
		};

		$scope.update = function(idx) {
			var logs = $scope.logs[idx];
			var push_code = prompt("Enter a push code", logs.push_code);
			if(push_code == null) {
				return;
			}
			var app_id = prompt("Enter a APP ID", logs.app_id);
			if(app_id == null) {
				return;
			}
			logs.push_code = push_code;
			logs.app_id = app_id;
			
			logs.$save();

			$scope.list(idx);
		};

		$scope.remove = function(idx){
			$scope.logs[idx].$delete();
			$scope.selected = null;
			$scope.list();
		};
	}]);
</script>
</body>
</html>
